 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt fugiat id aut, reprehenderit molestiae, quisquam corporis vel quis dignissimos, numquam deleniti iure cupiditate perspiciatis quas obcaecati! Voluptates voluptatibus atque eius?</p>
            </div>
        </div>
    </header>